.top-margin {
    margin-top: 15em;
}

.logo {
    height: 55px;
}

.center-hor {
    margin: auto;
    width: 50%;
}

.container-recipes {
    position: relative;
    /*text-align: center;*/
    /*color: white;*/
}

.description-text {
    font-size: 1em;
}



.recipe-images {
    height: 20em;
    width: 100%;
}
