a:link {
    text-decoration: none;
}

/*makes checkboxes bigger on mobile*/

input[type=checkbox] {
    zoom: 2.9;
}



/*form centering*/

main {
    display: flex;
}

.form-centering {
    width: 70%;
    margin: 0 auto;
}

.form-center-log {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error {
    color: red;

}

/*filter-styles*/

.filter-mobile-margin {
    margin-bottom: 1.5rem;
    /*margin-left:1.5;*/
    margin-top: 1.5rem;
    /*margin: 2rem;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

.filter-center {
    margin: 0 auto;
    width: 80%;
}

/*makes filter form inline*/

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/*open recipe styles*/

.allergen-ingredients {
    display: inline-block;

}

.icon-size {
    font-size: 3rem;
}


.ingredients-bg {
    background: #4FFF8A;
    border-radius: 25px;
    /*width: 8em;*/
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: .25em;
}

.allergens-bg {
    background: #FFA349;
    border-radius: 25px;
    /*width: 8em;*/
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: .25em;
}

.recipe-links {
    color: black;
    font-size: 1.4rem;
}

.results-found {
    font-size: 1.75rem;
}

.top-margin {
    margin-top: 15em;
}

.small-margin {
    margin-top: 1em;
}

.filter-margin {
    margin-bottom: 2em;
    margin-top: 1em;
}

.hide-show-margin {
    margin-top: .8em;
    margin-bottom: .8em;
}

/* open recipe page*/

.author-name {
    font-size: 25px;
}

.description-text {
    font-size: 1.5rem;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 10px;
}

.instruction-text {
    font-size: 15px;
}


.recipe-images-page {
    height: 30em;
    width: 100%;
    object-fit: cover;
}

/*this is for the form toggle on and off button*/

/*#filter-form {*/

/*display:none;*/

/*display: inline-block;*/

/*}*/

/*.logo {*/

/*    height: 55px;*/

/*}*/

.center-hor {
    margin: 0 auto;

}

.container-recipes {
    position: relative;
}

.recipe-images {
    height: 20em;
    width: 100%;
    object-fit: cover;
}


/* upvote button stlye*/

.upvote {
    font-size: 3rem;
    padding: 0;
}

.upvote:hover {
    color: #E54725;
    outline: none
}

.center {
    left: 50%;
    margin-left: -25%;
    position: absolute;
    margin-bottom: 1rem;
}

/* MEDIA QUERIES*/

/*tablet*/

@media only screen and (min-width: 768px) {
    input[type=checkbox] {
        zoom: 2.5;
    }
}


/*computer*/

@media only screen and (min-width: 992px) {
    input[type=checkbox] {
        zoom: 1;
    }
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-centering {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
        display: inline-block;

    }
    .recipe-links {
        color: black;
        font-size: 1rem;
    }
    .upvote {
        font-size: 1.35rem;
    }
    .description-text {
        font-size: 1em;
    }
    .results-found {
        font-size: 1.25rem;
    }
}
