.top-margin {
    margin-top: 15em;
}

.logo {
    height: 55px;
}

.center-hor {
    margin: auto;
    width: 50%;
}

.container-recipes {
    position: relative;
    /*text-align: center;*/
    /*color: white;*/
}
.recipe-images {
    height: 20em;
    width: 100%;
}

/* open recipe page*/

.author-name {
    font-size: 25px;
}
.description-text {
    font-size: 1em;
}

.margins {
    margin: 10px;
}

.instruction-text{
    font-size: 15px;
}

.recipe-images-page{
    height:30em;
}
