{% extends 'base.html'%} {% block content %}
<div class="row">
    {% for recipes in recipes %}
    <div class="col-3">
        <div class="container">
            <a href="{{url_for('open_recipe', recipe_id=recipes._id)}}">
                <h4>{{recipes.recipe_name}}</h4>
                <img src={{recipes.recipe_image}} class='recipe-images' />
                <div class="description-text">{{recipes.recipe_description}}</a>
            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
