{% extends 'base.html'%} {% block content %}
<div class="row">
    <div class="col-12">
        <form class="form-inline filter-margin" action="{{url_for('filter_recipes')}}"method='POST'>
            <div class="col-2 offset-2">
                <select name="name" class="form-control form-control-lg" >
                    <option disabled selected>Filter by User</option>
                    {% for name in users %}
                      <option value="{{name.name}}">{{name.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-2">
                <select name="allergens" class="form-control form-control-lg">
                    <option disabled selected>Filter by Allergen</option>
                    {% for allergen in allergens %}
                      <option value="{{allergen._id}}" name={{allergen._id}}>{{allergen.allergen_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-2">
                <select name="cuisine" class="form-control form-control-lg" >
                    <option disabled selected>Filter by Cuisine</option>
                    {% for cuisine_name in cuisine %}
                      <option value="{{cuisine_name.cuisine_name}}">{{cuisine_name.cuisine_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary btn-lg">Filter</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    {% for recipes in recipes %}
    <div class="col-sm-12 col-lg-3">
        <!--<div class="container-fluid">-->
        <a href="{{url_for('open_recipe', recipe_id=recipes._id)}}" class="recipe-links">
            <h5>{{recipes.recipe_name}}</h5>
        </a>
        <a href="{{url_for('open_recipe', recipe_id=recipes._id)}}"> 
            <img src={{recipes.recipe_image}} class='recipe-images' /></a>
        <div class="row">
            <div class="recipe-links col-4">Author: {{recipes.author}}</div>
            <div class="recipe-links col-4">Cuisine: {{recipes.cuisine}}</div>
        </div>
        <a href="{{url_for('open_recipe', recipe_id=recipes._id)}}" class="recipe-links">
            <div class="description-text">{{recipes.recipe_description|truncate(100)}}
            </div>
        </a>
        </a>
    </div>
    {% endfor %}
</div>


</div>

{% endblock %}
