{% extends 'base.html'%} {% block content %}
<div class="row">
    <div class="col-12">
        <button id="hide-show-filters" class="btn btn-info btn-lg hide-show-margin">Hide/Show Filters</button>
        <form class="form-inline filter-margin filter-center" action="{{url_for('recipes')}}" id='filter-form' method='POST'>
            <div class="col-lg-2 col-sm-6">
                <select name="author" class="form-control form-control-lg">
                    <option disabled selected>Filter by User</option>
                    {% for name in users %}
                      <option value="{{name.name}}">{{name.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-sm-6">
                <select name="cuisine" class="form-control form-control-lg">
                    <option disabled selected>Filter by Cuisine</option>
                    {% for cuisine_name in cuisine %}
                      <option value="{{cuisine_name.cuisine_name}}">{{cuisine_name.cuisine_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-4 col-sm-12 filter-mobile-margin">
                <label>Filter by recipes that don't contain these allergens:</label>
                <div class="form-group">
                    {% for allergen in allergens %}
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="id_{{allergen.allergens}}" name='allergens' value="{{allergen._id}}">
                        <label for=id_{{allergen.allergen_name}}>{{allergen.allergen_name}}</label>
                    </div>{% endfor %}
                </div>
            </div>
            <div class="col-lg-1 col-sm-4">
                <button type="submit" class="btn btn-primary btn-lg">Filter</button>

            </div>
            <div class="col-lg-1 col-sm-4">
                <button type="reset" class="btn btn-danger btn-lg">Clear</button>
            </div>
            <div class="col-lg-2 col-sm-4">
                <a href="#"><button class="btn btn-success btn-lg">Reset Page</button></a>
            </div>

        </form>
    </div>
</div>
<span class="results-found">{{count}} results found</span>
<div class="row">
    {% for recipe in recipes %}
    <div class="col-sm-12 col-lg-3 margin">
        <!--<div class="container-fluid">-->
        <a href="{{url_for('open_recipe', recipe_id=recipe._id)}}" class="recipe-links">
            <h3>{{recipe.recipe_name}}</h3>
        </a>
        <a href="{{url_for('open_recipe', recipe_id=recipe._id)}}"> 
            <img src={{recipe.recipe_image}} onerror="this.src='https://www.sweetsquared.ie/sca-dev-kilimanjaro/img/no_image_available.jpeg?resizeid=19&resizeh=1200&resizew=1200'" class='recipe-images' /></a>
        <div class="row">
            <div class="recipe-links col-4"><a href="{{url_for('user_recipes', name=recipe.author)}}" class="recipe-links">Author: {{recipe.author}}</a></div>
            <div class="recipe-links col-4">Cuisine: {{recipe.cuisine}}</div>
            <a href="{{url_for('vote', recipe_id=recipe._id)}}"><i class="upvote material-icons col-4">arrow_upward</i></a> {{recipe.votes}}
        </div>
        <form href="{{url_for('open_recipe', recipe_id=recipe._id)}}" class="recipe-links">
            <div class="description-text">{{recipe.recipe_description|truncate(100)}}
            </div>
            </a>
            </a>
    </div>
    {% endfor %}
</div>


</div>

{% endblock %}
