{% extends 'base.html'%} {% block content %}
<div class="header">
  <div class="top-margin">
    <h3>Sign In</h3>
  </div>
  <div class="main">
    <div class="row">
      <form action="{{url_for('login')}}" method="POST" class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="uname" name="username" type="text" required>
          <label for="icon_prefix">Your Username</label>
        </div>
    </div>
    </form>
  </div>
  {% endblock %}
